<div style="width:100%;">
    <div style="width:50%;float:left;">
        FROM: <br>
        <img style="width:50%;height:50%" src="http://api.qrserver.com/v1/create-qr-code/?color=000000&bgcolor=FFFFFF&data=Georgi+Nachev+%D0%B1%D1%83%D0%BB.+%D0%90%D1%81%D0%B5%D0%BD+%D0%99%D0%BE%D1%80%D0%B4%D0%B0%D0%BD%D0%BE%D0%B2+-+%D0%BA%D0%B2.+%D0%94%D1%80%D1%83%D0%B6%D0%B1%D0%B0+%2312+1000+%D0%A1%D0%BE%D1%84%D0%B8%D1%8F+%D0%91%D1%8A%D0%BB%D0%B3%D0%B0%D1%80%D0%B8%D1%8F&qzone=1&margin=0&size=400x400&ecc=L"><br>
        {{$from or ''}}
    </div>
    <div style="width:50%;float:left;">
        TO: <br>
        <img style="width:50%;height:50%" src="http://api.qrserver.com/v1/create-qr-code/?color=000000&bgcolor=FFFFFF&data=Georgi+Nachev+%D0%B1%D1%83%D0%BB.+%D0%90%D1%81%D0%B5%D0%BD+%D0%99%D0%BE%D1%80%D0%B4%D0%B0%D0%BD%D0%BE%D0%B2+-+%D0%BA%D0%B2.+%D0%94%D1%80%D1%83%D0%B6%D0%B1%D0%B0+%2312+1000+%D0%A1%D0%BE%D1%84%D0%B8%D1%8F+%D0%91%D1%8A%D0%BB%D0%B3%D0%B0%D1%80%D0%B8%D1%8F&qzone=1&margin=0&size=400x400&ecc=L"><br>
        {{$to or ''}}
    </div>
    <br style="clear:both;">
</div>
@if(1==1)
aaaaaaaa
@endif